# Ignorer les fichiers sensibles
.env

# Ignorer les fichiers de configuration sensibles
backend/config/firebase-adminsdk.json
SMTP/

# Ignorer les fichiers de build et de cache
node_modules/
dist/
build/
Documentation/dist/
Documentation/js/
Documentation/ts-client/

# Ignorer les fichiers spécifiques à Docker et aux bases de données
*.sql
*.log

# Ignorer les fichiers de configuration spécifiques à l'IDE et au système d'exploitation
.DS_Store
*.swp
.vscode/
.idea/
*.iml

# Ignorer les binaires et autres fichiers générés
bin/
*.exe
*.out
*.app